<div class="container">
    <div class="text-center">
        <h1>Gigs</h1>
    </div>
    <div class="row">
            
        {{#each orders}}
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">
                        Featured
                    <span class="badge badge-warning">En proceso</span>
                    </h5>
                    <div class="card-body">
                        <img src="{{gig.picture}}" class="card-img-top" alt="..." />
                        <h5 class="card-title">{{buyer.name}}</h5>
                        <p class="card-text">{{gig.title}}</p>
                        <a  href="/users/{{ seller._id }}/orders/{{ _id }}" class="btn btn-primary">
                            Chatear
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
        
    </div>
</div>