<div class="container">
    <div class="app clearfix">
        <div class="col-sm-12">
            <div class="row">
                <div class="chatbox">
                    <div class="chat-msgs clearfix" id="chatMsgs">
                        {{#each order.messages }}
                        {{#if_equals ../user._id owner._id }}
                        <div class="message right">
                            <span class="pic"><img src="{{ owner.photo }}" /></span>
                            <div class="bubble right">
                                <p>{{ content }}</p>
                            </div>
                        </div>
                        {{ else }}
                        <div class="message left">
                            <span class="pic"><img src="{{ owner.photo }}" /></span>
                            <div class="bubble left">
                                <p>{{ content }}</p>
                            </div>
                        </div>
                        {{/if_equals }}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="compose" style="width: 79%;">
                        <form action="#" id="sendMessage" class="form-group">
                            <div class="input-group">
                                <input type="text" id="message" class="form-control" placeholder="Type something here">
                                <a href="#" class="input-group-addon"><i class="fa fa-smile-o"></i></a>
                                <input type="submit" class="form-control" value="Send">
                            </div>
                        </form>
                    </div>
            </div>
        </div>

    </div>
</div>